<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
</head>

<body>
    {{> header }}
    <p> This is where you can download your files</p>
    {{> footer }}
</body>



</html>